// out: custom.css
// Colors
@main_dark: #004BA8;
@main_light: #3E78B2;
@gray_dark: #24272B;
@gray_light: #4A525A;
@black: #07070A;
@white: #EEEEEE;
@whiter: #FFFFFF;

@success: #00CC99;
@warning: #FFEE88;
@info: #F26419;
@primary: #386FA4;
@danger: #AB2346;

// TODO: Fonts

// Main Config
.bg-custom-light {
    background: lighten(@main_dark, 15%);
    color: lighten(@main_dark, 50%);
}

.bg-custom {
    background: @main_dark;
    color: @white;
}